 <div align="center">認証できませんでした。</div>
 <div align="center">大変申し訳ありませんが、再度やりなおしてください。</div>
<br/><br/>
 <div align="center">次の画面に出てくるFacebook認証の画面では、”はい”を選択してください。</div>
<br/>
<br/>
<%= link_to 'やりなおす', shop_admin_path, {:rel=>"external","data-role"=>"button","data-theme"=>"a","data-icon"=>"refresh"} %><br/>

<%= link_to 'サイトに戻る', "http://www.checkpass.jp/" %>
<br/>

