<div class="container">
 <div class="contents">
  <h1>チェックインプレイスの編集</h1>
  <br/>

  <%= render 'item_form', {:method=>"update_item"} %>

  <br/>
  <%= link_to 'Back', shop_admin_path %>
 </div>
</div>

