<% content_for :title do %>チェックインアイテム編集<%end%>
<div class="container">
 <div class="contents">
  <h1>チェックインアイテムの編集</h1>

  <%= render 'item_form', {:method=>"update_item"} %>

  <br/>
  <%= link_to 'トップページに戻る', shop_admin_path %>
 </div>
</div>

