@charset "UTF-8";


/*---------- ページ全体の指定 ----------*/

html, body, header, section, article, nav, footer,
div, span, p, h1, h2, h3, h4,
ul, ol, li, dl, dt, dd,
table, tr, th, td, tbody, thead, tfoot {
  margin: 0;
  padding: 0;
}

h2 {
	font-size: 32px;
	font-style: normal;
	font-weight: normal;
}

img {border: 0;}

body {
  width: 100%;
  background-color: #ffffff;
  font: 14px/1.231 'ヒラギノ角ゴ pro W3', "Hiragino KaKu Gothic Pro", Osaka, sans-serif;
  line-height: 1.7;
}

a:link {
  color: #005ebb;
}

a:hover {
  color: #004080;
}

a:visited {
  color: #005ebb;
}


/*---------- ヘッダー ----------*/

header {
  width: 100%;
}

header h1 {
  padding: 5px 0 5px 0;
  text-align: center;
  color: #333333;
  font-size: 18px;
}

header h1 a {
  color: #333333 !important;
  text-decoration: none;
  font-size: 18px;
}

header h1 a:hover {
  color: #004080 !important;
  text-decoration: underline;
  font-size: 18px;
}

header p {
  padding: 3px 8px 3px 8px;
  line-height: 1.7;
}

#page_top {
  margin: 0;
  padding: 0;
}


/*---------- コンテンツ ----------*/

textarea {
	width: 90%
}

article {
  width: 100%;
  margin: 0 0 8px 0;
}

section {
  width: 100%;
  margin: 0 0 8px 0;
}

section h2 {
  margin: 0 0 8px 0;
  padding: 5px 0 3px 14px;
  font-size: 14px;
  color: #ffffff;
  border-bottom: solid 1px;
  border-bottom-color: #cccccc;
  background: url(img/h_bg.gif) center repeat-x;
}

section p {
  padding: 3px 8px 3px 8px;
  line-height: 1.7;
}

section .gray_bg {
  margin: 8px 0 8px 0;
  padding: 2px 8px 2px 8px;
  line-height: 1.7;
  letter-spacing: 1px;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  background-color: #eeeeee;
}

section .gray_bg p {
  padding: 3px;
  line-height: 1.7;
  letter-spacing: 1px;
}

section img.picture {
  margin: 0 10px 10px 0;
  float: left;
}

section img.picture_r {
  margin: 0 0 10px 10px;
  float: right;
}

section span.red {
  color: #e60033;
}

section span.red_b {
  color: #e60033;
  font-weight: bold;
}

section span.blue {
  color: #007bbb;
}

section span.pink {
  color: #c53d43;
}

section span.brown {
  color: #993300;
}

section span.brown_b {
  color: #993300;
  font-weight: bold;
}

section span.green {
  color: #00ae4f;
}

section table.table_line {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #bbbbbb;
  margin : 8px  0 8px 0;
}

section td.table_line {
  border-collapse: collapse;
  border: solid 1px #bbbbbb;
  padding : 8px 10px 8px 10px;
}


/*---------- ナビ ----------*/

nav {
  width: 100%;
  text-decoration: none;
  margin: 0 0 10px 0;
  background: url(img/nav_bg.gif) repeat-x;
}

nav h2 {
  padding: 5px 0 3px 14px;
  font-size: 14px;
  color: #ffffff;
  border-bottom: solid 1px;
  border-bottom-color: #cccccc;
  background: url(img/h_bg_gray.gif) center repeat-x;
}

nav ul {
  width: 100%;
  border-top: solid 1px;
  border-top-color: #cccccc;
}

nav li {
  width: 100%;
  list-style: none;
  text-align: center;
  background: url(img/arrow_icon.png) no-repeat scroll right center transparent;
}

nav li a {
  padding: 10px;
  display: block;
  color: #005ebb;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: #cccccc;
  background: url(img/nav_bg.gif) repeat-x;
}

nav li a:hover {
  color: #004080;
  display: block;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 2px;
  border-bottom-color: #cccccc;
  background: url(img/nav_bg_hover.gif) repeat-x;
}


/*---------- トップに戻る ----------*/

#page_back {
  margin: 0 0 8px 0;
  padding: 0 6px 0 0;
  text-align: right;
}


/*---------- フッター ----------*/

footer {
  width: 100%;
  padding: 10px 0 10px 0;
  color: #333333;
  text-align: center;
  border-top: solid 1px;
  border-top-color: #cccccc;
  background-color: #eeeeee;
}

footer p {
  padding: 10px;
  color: #555555;
}

footer a {
  color: #555555 !important;
}

footer a:hover {
  color: #777777 !important;
}

footer a:visited {
  color: #555555;
}

footer p.copy {
  padding: 10px;
  font-size: 12px;
  color: #555555;
}

footer p.copy a {
  color: #005ebb !important;
  text-decoration: none;
}

footer p.copy a:hover {
  color: #004080 !important;
  text-decoration: underline;
}

footer p.copy a:visited {
  color: #005ebb;
  text-decoration: none;
}


p.text {
	width: 780px;
	font-size: 80%;
}
@media screen and (max-device-width: 480px) {
	p.text {
		width: 480px;
		font-size: 110%;
	}
}

.tCenter {
    text-align: center;
}

.iCenter {
	margin: 0 auto;
}

.tBottom {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
}

.taCenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	font-size: 150%;
	font-weight: bold;
  text-align: center;
	text-decoration: none;
	background: -moz-linear-gradient(top,#09C 0%,#09C 50%,#069 50%,#069);
  background: -webkit-gradient(linear, left top, left bottom,from(#09C), color-stop(0.5,#09C), color-stop(0.5,#069),  to(#069));
  border: 1px solid #DDD;
  color: #FFF;
  width: 150px;
  padding: 10px 0;
}


