<% content_for :title do %>お問い合わせ<%end%>
<h1>お問い合わせありがとうございました。</h1>
メールアドレスが間違っていると確認メールが届きません。<br/>
しばらたくってもメールが届かない時は、お手数ですがもう一度お問い合わせを<br/>
お願いいたします。<br/><br/>
<%= link_to '元のページに戻る',@referer %>

