<div id="u_0_2r" class="timelineUnitContainer">
<div class="">
<div role="article">
<div class="mainWrapper">
 <div role="article">
  <h5 class="uiStreamMessage uiStreamHeadline">
   <div class="actorDescription actorName">佐藤 健二</div>
  </h5>
  <h5 class="uiStreamMessage userContentWrapper">
   <span class="messageBody">
    <div>
     <span class="userContent">チェックインありがとうございます。</span>
    </div>
   </span>
  </h5>
  <div class="mvm uiStreamAttachments fbMainStreamAttachment">
   <div>
    <div class="shareRedesign -cx-PRIVATE-ogAttachmentButtons__container">
     <div class="clearfix shareRedesignContainer">
      <a aria-hidden="true" class="shareMediaLink shareRedesignMedia -cx-PRIVATE-uiImageBlock__image lfloat">
       <img id="fb-coupon-img"style="background-image: url(http://test.checkpass.evangelize.jp/uploads/checkin_item/coupon_image/1/coupon1.png);" src="http://test.checkpass.evangelize.jp/uploads/checkin_item/coupon_image/1/coupon1.png" class="shareMediaPhoto img">
      </a>
      <div class="-cx-PRIVATE-uiImageBlock__content -cx-PRIVATE-uiFlexibleBlock__flexibleContent">
       <div class="pam shareText shareTextContainsHTML">
       <div class="attachmentText fsm fwn fcg">
        <a href="#">
         <div class="uiAttachmentTitle">
          <strong>Pool &amp; Darts Bar beep!</strong> 
         </div>
        </a>
        <span class="caption">ビリヤードとダーツのお店</span>
        <div class="mts uiAttachmentDesc translationEligibleUserAttachmentMessage">beep!では毎週大会もやってます！</div>
       </div>
      </div>
     </div>
    </div>
    <div class="shareRedesignTopBorder"></div>
    <div class="shareRedesignRightBorder"></div>
    <div class="shareRedesignBottomBorder"></div>
   </div>
  </div>
 </div>
</div>
</div>
</div>
</div>
